body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

.threshold {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    stroke-dasharray: 5;
}

.threshold-legend {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 2;
}

#wrapper {
    display: flex;
}

#left-div {
    flex: 0 0 40%;
}

#right-div {
    width: 30%;
    flex: 0 0 30%;

    padding: 0 20px 20px 20px;
    border: black solid 2px;
    border-radius: 5px;
}

#right-div h3 {
    text-align: center;
}

.form-line {
    padding-bottom: 10px;
}

.form-line input[type=range], .form-line select {
    width: 45%;
    margin-right: 3px;
    vertical-align: baseline;
}

.form-line input.reversed {
    direction: rtl;
}

.form-line label, .form-line span {
}

#regime {
    padding-left:15px;
}

.axis.x {
    font-size: 18px;
}

.axis.y {
    font-size: 20px;
}
