.threshold {
    fill: none;
    stroke: red;
    stroke-width: 1px;
    stroke-dasharray: 5;
}

.threshold-legend {
    fill: none;
    stroke: red;
    stroke-width: 2px;
    stroke-dasharray: 2;
}

h2 {
    // padding-top: 2%;
    // padding-left: 35%;
}

svg {
    // padding-left: 25%;
    // text-align: center;
}

form {
    // padding-left: 35%;
}


input {
    width: 15%;
    margin-right:0;
}

select {
    width: 15%;
}

#regime {
    padding-left:15px;
}
